<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wh.finaldemos">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.touch.touchdelegate.TouchDelegateTestActivity"
            android:label="TouchDelegateTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".demos.trys.try1.Try1Activity"
            android:label="Try1Activity" />
        <activity android:name=".demos.touch.TouchDemosListActivity" />
        <activity android:name=".demos.trys.TryDemosListActivity" />
        <activity android:name=".demos.customview.CustomViewListActivity" />
        <activity android:name=".demos.whlib.WhlibDemosListActivity" />
        <activity
            android:name=".demos.whlib.testjlibrun.TestJlibRunDemoActivity"
            android:label="TestJlibRunDemoActivity" />
        <activity
            android:name=".demos.customview.testcustomshapeimageview.TestCustomShapeImageViewActivity"
            android:label="TestCustomShapeImageViewActivity" />
        <activity
            android:name=".demos.graphic2d.palletetest.PalleteCheckShineActivity"
            android:label="@string/title_activity_pallete_check_shine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".demos.graphic2d.Graphic2DDemosListActivity" />
        <activity android:name=".demos.media.MediaDemosListActivity" />
        <activity
            android:name=".demos.media.video.videoview.simplePlay.VideoViewSimplePlayActivity"
            android:label="@string/title_activity_video_view_simple_play"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".demos.media.video.surfaceview.simpleplay.SurfaceViewPlayMp4DemoActivity"
            android:label="@string/title_activity_surface_view_play_mp4_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".demos.media.video.textureview.simpleplay.TextureViewPlayMp4Activity"
            android:label="@string/title_activity_texture_view_play_mp4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".demos.media.video.textureview.camerapreview.CameraPreviewWithTextureViewActivity" />
        <activity android:name=".demos.androidviews.AndroidViewDemosActivity" />
        <activity android:name=".demos.androidviews.NestedScrollView.NestedScrollViewDemosActivity" />
        <activity android:name=".demos.androidviews.NestedScrollView.simpleuse.NestedScrollViewSimpeUseDemoActivity" />
        <activity android:name=".demos.androidviews.RecycleView.RecycleViewDemosActivity"/>
        <activity android:name=".demos.androidviews.RecycleView.simpleuse.RecycleViewSimpleUseActivity"></activity>
    </application>

</manifest>
