<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wh.finaldemos">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.touch.touchdelegate.TouchDelegateTestActivity"
            android:label="TouchDelegateTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".demos.trys.try1.Try1Activity"
            android:label="Try1Activity" />
        <activity android:name=".demos.touch.TouchDemosListActivity" />
        <activity android:name=".demos.trys.TryDemosListActivity" />
        <activity android:name=".demos.customview.CustomViewListActivity" />
        <activity android:name=".demos.whlib.WhlibDemosListActivity" />
        <activity
            android:name=".demos.whlib.testjlibrun.TestJlibRunDemoActivity"
            android:label="TestJlibRunDemoActivity" />
        <activity
            android:name=".demos.customview.testcustomshapeimageview.TestCustomShapeImageViewActivity"
            android:label="TestCustomShapeImageViewActivity" />
        <activity
            android:name=".demos.graphic2d.palletetest.PalleteCheckShineActivity"
            android:label="@string/title_activity_pallete_check_shine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".demos.graphic2d.Graphic2DDemosListActivity" />
        <activity android:name=".demos.media.MediaDemosListActivity" />
        <activity
            android:name=".demos.media.video.videoview.simplePlay.VideoViewSimplePlayActivity"
            android:label="@string/title_activity_video_view_simple_play"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".demos.media.video.surfaceview.simpleplay.SurfaceViewPlayMp4DemoActivity"
            android:label="@string/title_activity_surface_view_play_mp4_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".demos.media.video.textureview.simpleplay.TextureViewPlayMp4Activity"
            android:label="@string/title_activity_texture_view_play_mp4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".demos.media.video.textureview.camerapreview.CameraPreviewWithTextureViewActivity" />
        <activity android:name=".demos.androidviews.AndroidViewDemosActivity" />
        <activity android:name=".demos.androidviews.NestedScrollView.NestedScrollViewDemosActivity" />
        <activity android:name=".demos.androidviews.NestedScrollView.simpleuse.NestedScrollViewSimpeUseDemoActivity" />
        <activity android:name=".demos.androidviews.RecycleView.RecycleViewDemosActivity" />
        <activity android:name=".demos.androidviews.RecycleView.simpleuse.RecycleViewSimpleUseActivity" />
        <activity android:name=".demos.androidviews.RecycleView.imageslider.ImageSliderDemoActivity" />
        <activity android:name=".demos.androidviews.CoordinatorLayout.CoordinatorLayoutDemosActivity" />
        <activity android:name=".demos.androidviews.CoordinatorLayout.custombehavior.CustomBehaviorActivity" />
        <activity android:name=".demos.androidviews.CoordinatorLayout.customcoordinator.CustomCoordinatorActivity" />
        <activity android:name=".demos.customview.testupcoverlayout.UpCoverLayoutUseDemoActivity" />
        <activity android:name=".demos.uiproperty.UiPropertyDemosActivity" />
        <activity android:name=".demos.uiproperty.viewgroupvisibility.ViewGroupVisibilityDemoActivity" />
        <activity android:name=".demos.touch.touchtest.TouchTestDemoActivity" />
        <activity
            android:name=".demos.activity.ActivityDemosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demos.activity.lifecycle.ActivityLifeCycleDemoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity android:name=".demos.customview.testcustomviewcallback.TestCustomViewCallbackDemoActivity" />
        <activity android:name=".demos.textshow.TextShowDemosActivity" />
        <activity android:name=".demos.textshow.Date.DateShowDemoActivity" />
        <activity android:name=".demos.textshow.Path.PathShowDemoActivity" />
        <activity android:name=".demos.animation.AnimationDemosListActivity" />
        <activity android:name=".demos.animation.normal.NormalAnimationDemoActivity" />
        <activity android:name=".demos.androidviews.popupwindow.PopupWindowDemoActivity" />
        <activity android:name=".demos.activity.taskandbackstack.TaskAndBackstackDemoActivity" />
        <activity android:name=".demos.activity.taskandbackstack.TB_NormalActA" />
        <activity android:name=".demos.activity.taskandbackstack.TB_NormalActB" />
        <activity
            android:name=".demos.activity.taskandbackstack.TB_SingleTaskAct"
            android:launchMode="singleTask" />
        <activity android:name=".demos.textshow.SysInfo.SysInfoShowActivity" />
        <activity android:name=".demos.resource.ResourceDemosActivity" />
        <activity android:name=".demos.resource.ResourceMatch.ResourceMatchDemoActivity" />
        <activity android:name=".demos.resource.BitmapScaleLoad.BitmapScaleLoadDemoActivity" />
        <activity android:name=".demos.textshow.EnterSpace.EnterSpaceDemoActivity" />
        <activity android:name=".demos.textshow.StaticLayout.StaticLayoutDemoActivity" />
        <activity android:name=".demos.customview.customtoast.CustomToastDemoActivity" />
        <activity android:name=".demos.uiproperty.wrapcotent_matchparent.WrapContentMatchParentDemoActivity" />
        <activity android:name=".demos.textshow.MaxLength.MaxLengthDemoActivity" />
        <activity android:name=".demos.jsongson.JsonGsonDemosActivity" />
        <activity android:name=".demos.jsongson.basic.BasicDemoActivity" />
        <activity
            android:name=".demos.customview.highlightguide.HightlightGuideDemoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".demos.androidviews.RecycleView.collapsable.CollapseableDemoActivity" />
        <activity android:name=".demos.otherlibs.butterknife.ButterKnifeDemoActivity" />
        <activity android:name=".demos.otherlibs.OtherLibsDemosListActivity" />
        <activity android:name=".demos.otherlibs.retrofit.RetrofitDemoActivity" />
        <activity android:name=".demos.otherlibs.rxjava.RXDemoActivity" />
        <activity android:name=".demos.otherlibs.rxbus.Main2Activity" />
        <activity android:name=".demos.otherlibs.otto.OttoDemoActivity" />
        <activity android:name=".demos.otherlibs.otto.Activity2" />
        <activity android:name=".demos.otherlibs.eventbus.EventBusDemoActivity" />
        <activity android:name=".demos.otherlibs.guava.GuavaDemoActivity" />
        <activity android:name=".demos.otherlibs.picasso.PicassoDemoActivity" />
        <activity android:name=".demos.arc.ArcDemosListActivity" />
        <activity android:name=".demos.arc.mvp.MVPDemoActivity" />
        <activity android:name=".demos.otherlibs.dagger2.Dagger2DemoActivity" />
        <activity android:name=".demos.backgroundtask.jobscheduler.JobSchedulerDemoActivity" />
        <activity android:name=".demos.backgroundtask.BackgroundTaskDemosActivity" />

        <service
            android:name=".demos.backgroundtask.jobscheduler.MyJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".demos.otherlibs.greendao.GreenDAODemoActivity"
            android:label="@string/title_activity_green_daodemo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".demos.otherlibs.rxbinding.RxBindingDemoActivity" />
        <activity android:name=".demos.system.SystemDemosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".demos.system.notification.SendNotificationActivity"
            android:parentActivityName=".demos.system.SystemDemosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".demos.system.SystemDemosActivity" />
        </activity>
        <activity android:name=".demos.textshow.autolink.AutoLinkDemoActivity"></activity>
    </application>

</manifest>